.loginBackground {
  background-image: url('background.jpeg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  width: 30vw;
  min-width: 320px;
  background: rgba(255, 255, 255, .15);
  border-radius: 10px;
  backdrop-filter: blur(8.5px);
  color: #ffffff;
  letter-spacing: .4rem;
}

h2 {
  margin: 2rem 0 3rem 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  width: 100%;
}

.rememberContainer {
  margin: .3rem 0 .2rem 0;
  width: 78%;
  display: flex;
}

.buttonContainer {
  margin: 1rem 0 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 70%;
}
/* @media screen and (max-width: 720px) {
  .mainContainer {
    color: red;
  }
} */